
@{
    ViewBag.Title = "OrderFailure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <center style="height: 300px; padding-top: 10px;">
            <h1 class="text-danger">Đặt Hàng Thất Bại! @ViewBag.Message</h1>
            <h3>Vui lòng kiểm tra lại phương thức thanh toán và tiến hành đặt hàng lại!</h3>
        </center>

        <a href="/san-pham">
            Về trang chủ
        </a>
    </div>
</section>